html{
  font-family: "helvetica neue", sans-serif;
}
#inputField{
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
}
#inputField:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}
.nav{
  border-bottom: 1px solid rgb(95, 95, 95);
  text-align: right;
  height: 70px;
  line-height: 70px;
  z-index: 1;
  /* position: fixed; */
}
.menu{
  margin: 0 40px 0 0;
  text-align: center;
  display: none;
}
.menu a{
  clear: right;
  text-decoration: none;
  color: grey;
  margin: 0 10px;
  line-height: 70px;
  cursor: pointer;
  display: block;
  border-bottom: 1px solid rgb(95, 95, 95);
}
label{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: block;
  cursor: pointer;
  width: 26px;
  float: right;
}
#toggle{
  display: none;
}
#toggle:checked + .menu{
  display: block;
}

#submitButton {
  border: 2px solid #aaa;
  background: none;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 5px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  margin: auto;
  /* width: 50%; */
}
#submitButton:hover {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
  color: dodgerblue;
  font-weight: bold;
}

/* @media all and (max-width:30em){
     #submitButton{
        display:block;
        margin:0.4em auto;
     }
} */
section {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  /* overflow: ; */
  /* overflow: s; */
}

section img {
  width: 175px;
  transition: 250ms all;
}
img:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}
#movies-searchable {
  margin-top: 20px;
  margin-bottom: 30px;
}
.content {
  border: 1px solid red;
  display: none;
  /* height: 800px; */
}
.content-display {
  display: block;
}
.content div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}
#content-close {
  cursor: pointer;
  margin: 10px;
  float: right;
  /* border: #000000 solid 1px; */
}

.movie {
  margin-bottom: 30px;
}
#tvShowDiv{
  display: none;
}

@media only screen and (min-width: 768px) {
  
  #inputField{
    width: 70%;
  }
  section img {
    width: 260px;
    transition: 250ms all;
  }
  iframe{
      width: 432px;
      height: 270px;
  }
  .menu{
    margin: 0 30px 0 0;
    display: block;
    float: right;
  }
  .menu a{
    clear: none;
    text-decoration: none;
    color: grey;
    margin: 0 10px;
    line-height: 70px;
    cursor: pointer;
    display: inline-block;
    border-bottom: 0;
  }
  label{
    
    line-height: 70px;
    display: none;
}
@media only screen and (min-width: 1150px) {
    section img {
      width: 300px;
      transition: 250ms all;
    }
    iframe{
        width: 512px;
        height: 320px;
    }
  }
li{
  cursor: pointer;
}